<footer class="page-footer ">
    <div class="container">
      <div class="row">
        <div class="col l8 s12">
          <div class="row">
            <div class="col s12 m4 l4">
             <h6 class="black-text">Customer Services</h6>
             <ul>
              <li><a class="blue-text  text-lighten-3" href="/contact">Contact us</a></li>
              <li><a class="blue-text  text-lighten-3" href="#!">FAQs</a></li>
              <li><a class="blue-text  text-lighten-3" href="#!">Manage accounts</a></li>
              <li><a class="blue-text  text-lighten-3" href="#!">My orders</a></li>
            </ul>
            </div>

            <div class="col s12 m4 l4">
              <h6 class="black-text">About Us</h6>
              <ul>
               <li><a class="blue-text text-lighten-3" href="#!">About us</a></li>
               <li><a class="blue-text text-lighten-3" href="#!">News</a></li>
               <li><a class="blue-text text-lighten-3" href="#!">Careers</a></li>
               <li><a class="blue-text text-lighten-3" href="#!">Promotions</a></li>
             </ul>
            </div>

            <div class="col s12 m4 l4">
              <h6 class="black-text">Stores & Services</h6>
             <ul>
              <li><a class="blue-text text-lighten-3" href="#!">Online Shopping</a></li>
              <li><a class="blue-text text-lighten-3" href="#!">Phamacies</a></li>
              <li><a class="blue-text text-lighten-3" href="#!">Other services</a></li>
              <li><a class="blue-text text-lighten-3" href="#!">Mailer</a></li>
            </ul>
            </div>
          </div>
        </div>
        <div class="col l4  s12">
          <h6 class="black-text">Other Links</h6>
          <ul>
            <li><a class="blue-text text-lighten-3" href="#!">Ways to Save</a></li>
            <li><a class="blue-text text-lighten-3" href="#!">Specials</a></li>
            <li><a class="blue-text text-lighten-3" href="#!">Refund Policy</a></li>
            <li><a class="blue-text text-lighten-3" href="#!">Terms & Conditions</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <!-- © 2014 Copyright Text -->
        <a id="copy" class="white-text"></a>
        <a class="blue-text text-lighten-4 right" href="#!"><i class="fa-brands fa-facebook"></i></a>
        <a class="green-text text-lighten-4 right" href="#!"><i class="fa-brands fa-whatsapp"></i></a>
        <a class="red-text text-lighten-4 right" href="#!"><i class="fa-brands fa-instagram"></i></a>
        <a class="green-text text-lighten-4 right" href="#!"><i class="fa-brands fa-slack"></i></a>
      </div>
    </div>
  </footer>
  <script>
    let d = new Date();
    document.getElementById("copy").innerHTML = "&copy" + d.getFullYear() + " Copyright reserved. Demo Supermarket";
  </script>

 