

<div class="navbar-fixed">
<!-- <nav>
    <div class="nav-wrapper">
     
      <a href="/" class="btn-floating btn-large pulse brand-logo right purple"><i class="material-icons">cloud</i></a>

      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/admin">Dashboard</a></li>
        <li><a href="/admin/viewproducts"  class="waves-effect waves-light btn-small  "><i class="material-icons left">cloud_download</i>ALL products</a></li>
        <li><a href="/admin/insertproduct" class="waves-effect waves-light btn-small"><i class="material-icons left">cloud_upload</i>Insert product</a></li>
        <li><a href="#"  class="waves-effect waves-light btn-small grey darken-4"><i class="material-icons left">category</i>ALL Categories</a></li>
        <li><a href="/admin/insertproduct" class="waves-effect waves-light btn-small grey darken-4"><i class="material-icons left">category</i>Insert Category</a></li>
       <li><a href="/admin/users" class="waves-effect waves-light btn-small"><i class="material-icons left"><span class="material-icons">
        account_circle
        </span></i>Users</a></li> 
      </ul>
    </div>
  </nav> -->


  <nav>
    <div class="nav-wrapper ">
      <a href="#!" class="brand-logo"><img style="height: 56px; object-fit: contain; padding-top: 5px;" src="../public/images/demo-text-logo-design-icon-600nw-1765746851.webp" alt=""></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/admin">Dashboard</a></li>
        <li><a href="/admin/viewproducts"  class="waves-effect waves-light btn-small  "><i class="material-icons left">cloud_download</i>ALL products</a></li>
        <li><a href="/admin/insertproduct" class="waves-effect waves-light btn-small"><i class="material-icons left">cloud_upload</i>Insert product</a></li>
        <li><a href="#"  class="waves-effect waves-light btn-small grey darken-4"><i class="material-icons left">category</i>ALL Categories</a></li>
        <li><a href="/admin/insertproduct" class="waves-effect waves-light btn-small grey darken-4"><i class="material-icons left">category</i>Insert Category</a></li>
       <li><a href="/admin/users" class="waves-effect waves-light btn-small"><i class="material-icons left"><span class="material-icons">
        account_circle
        </span></i>Users</a></li> 
      </ul>
      <ul class="sidenav" id="mobile-demo">
        <li><a href="https://www.woolworths.co.nz/">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
    </div>
  </nav>

 
        

 </div>