 <!------------------------------------- secong nav bar ------------------------------------> 

    <div class=" grey lighten-1 center-align green-text text-darken-4" style="padding-top: 0.5rem; padding-bottom: o
    0.5rem;">
         <h5>Demo Supermarket</h5>
         <p>"We lead, others follow"</p>
    </div>

  
