body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: antiquewhite;
  }

  main {
    flex: 1 0 auto;
  }

  #navbaradmin {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #333;
  }

  .in_prod{
    width: 50%;
    align-items: center;
  }

  .card-img-top{
    height: 8rem;
    object-fit: contain;
}

.stretchedToMargin {
  display: block;
  position:absolute;
  height:auto;
  /* bottom:0;
  top:0; */
  /* left:0;
  right:0;
  margin-top:20px;
  margin-bottom:20px;
  margin-right:80px;
  margin-left:80px; */
  background-color: green;
}

.erro{
  color: red;
  background-color: #ffcdd2;
  text-align: center;

}



.success{
  color: green;
  background-color: #c8e6c9;
  text-align: center;

}

